<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="toolingConfig" type="ToolingLib.Configuration.ToolingLibraryConfig, ToolingLib" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
		</providers>
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	<toolingConfig>
		<ServiceConfiguration BaseUrl="localhost" Port="8080" />
		<JsonRecipeConfiguration FolderPath="C:\\ToolingFiles\\Recipes" />
		<DataBaseConfiguration ConnectionString="Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=C:\\USERS\\ETAGLIANI\\SOURCE\\REPOS\\TOOLING\\TOOLINGLIB\\RECIPES.MDF;Integrated Security=True;Connect Timeout=3" />
		<SQLiteConfiguration SQLiteConnectionString="Data Source=RecipeSQLite.db;Version=3;New=True;Compress=True" />
		<PressCollection>
			<PressInstance Id="1" PressBar="1000" />
			<PressInstance Id="2" PressBar="500" />
			<PressInstance Id="3" />
			<PressInstance Id="4" />
			<PressInstance Id="5" />
			<PressInstance Id="6" />
			<PressInstance Id="7" />
			<PressInstance Id="8" />
			<PressInstance Id="9" />
			<PressInstance Id="10" />
		</PressCollection>
		<MagazineCollection>
			<MagazineInstance Id="1" FileLoader="C:\\ToolingFiles\\MagazineLoaders\\MagazineTools 1.json">
				<MagazineToolCollection>
					<MagazineToolInstance Id="0" Width="100" Count="2" />
					<MagazineToolInstance Id="1" Width="250" Count="1" />
					<MagazineToolInstance Id="2" Width="50" Count="4" />
				</MagazineToolCollection>
			</MagazineInstance>
			<MagazineInstance Id="2" FileLoader="C:\\ToolingFiles\\MagazineLoaders\\MagazineTools 2.json">
				<MagazineToolCollection>
					<MagazineToolInstance Id="0" Width="100" Count="2" />
					<MagazineToolInstance Id="1" Width="250" Count="1" />
					<MagazineToolInstance Id="2" Width="50" Count="4" />
				</MagazineToolCollection>
			</MagazineInstance>
			<MagazineInstance Id="3" FileLoader="C:\\ToolingFiles\\MagazineLoaders\\MagazineTools 3.json">
				<MagazineToolCollection>
					<MagazineToolInstance Id="0" Width="100" Count="2" />
					<MagazineToolInstance Id="1" Width="250" Count="1" />
					<MagazineToolInstance Id="2" Width="50" Count="4" />
				</MagazineToolCollection>
			</MagazineInstance>
			<MagazineInstance Id="4" FileLoader="C:\\ToolingFiles\\MagazineLoaders\\MagazineTools 4.json">
				<MagazineToolCollection>
					<MagazineToolInstance Id="0" Width="100" Count="2" />
					<MagazineToolInstance Id="1" Width="250" Count="1" />
					<MagazineToolInstance Id="2" Width="50" Count="4" />
				</MagazineToolCollection>
			</MagazineInstance>
			<MagazineInstance Id="5" FileLoader="C:\\ToolingFiles\\MagazineLoaders\\MagazineTools 5.json">
				<MagazineToolCollection>
					<MagazineToolInstance Id="0" Width="100" Count="2" />
					<MagazineToolInstance Id="1" Width="250" Count="1" />
					<MagazineToolInstance Id="2" Width="50" Count="4" />
				</MagazineToolCollection>
			</MagazineInstance>
			<MagazineInstance Id="6" FileLoader="C:\\ToolingFiles\\MagazineLoaders\\MagazineTools 6.json">
				<MagazineToolCollection>
					<MagazineToolInstance Id="0" Width="100" Count="2" />
					<MagazineToolInstance Id="1" Width="250" Count="1" />
					<MagazineToolInstance Id="2" Width="50" Count="4" />
				</MagazineToolCollection>
			</MagazineInstance>
			<MagazineInstance Id="7" FileLoader="C:\\ToolingFiles\\MagazineLoaders\\MagazineTools 7.json">
				<MagazineToolCollection>
					<MagazineToolInstance Id="0" Width="100" Count="2" />
					<MagazineToolInstance Id="1" Width="250" Count="1" />
					<MagazineToolInstance Id="2" Width="50" Count="4" />
				</MagazineToolCollection>
			</MagazineInstance>
			<MagazineInstance Id="8" FileLoader="C:\\ToolingFiles\\MagazineLoaders\\MagazineTools 8.json">
				<MagazineToolCollection>
					<MagazineToolInstance Id="0" Width="100" Count="2" />
					<MagazineToolInstance Id="1" Width="250" Count="1" />
					<MagazineToolInstance Id="2" Width="50" Count="4" />
				</MagazineToolCollection>
			</MagazineInstance>
			<MagazineInstance Id="9" FileLoader="C:\\ToolingFiles\\MagazineLoaders\\MagazineTools 9.json">
				<MagazineToolCollection>
					<MagazineToolInstance Id="0" Width="100" Count="2" />
					<MagazineToolInstance Id="1" Width="250" Count="1" />
					<MagazineToolInstance Id="2" Width="50" Count="4" />
				</MagazineToolCollection>
			</MagazineInstance>
			<MagazineInstance Id="11" FileLoader="C:\\ToolingFiles\\MagazineLoaders\\MagazineTools 11.json">
				<MagazineToolCollection>
					<MagazineToolInstance Id="0" Width="100" Count="2" />
					<MagazineToolInstance Id="1" Width="250" Count="1" />
					<MagazineToolInstance Id="2" Width="50" Count="4" />
				</MagazineToolCollection>
			</MagazineInstance>
		</MagazineCollection>
		<RecipeCollection>
			<RecipeInstance Id="0" RecipeName="JSON Recie 1">
				<ToolCollection>
					<ToolInstance Id="0" Width="100" Position="0" />
					<ToolInstance Id="1" Width="100" Position="400" />
					<ToolInstance Id="2" Width="250" Position="150" />
				</ToolCollection>
			</RecipeInstance>
			<RecipeInstance Id="1" RecipeName="JSON Recie 2">
				<ToolCollection>
					<ToolInstance Id="0" Width="50" Position="0" />
					<ToolInstance Id="1" Width="50" Position="50" />
					<ToolInstance Id="2" Width="100" Position="400" />
					<ToolInstance Id="3" Width="50" Position="150" />
					<ToolInstance Id="4" Width="50" Position="250" />
				</ToolCollection>
			</RecipeInstance>
			<RecipeInstance Id="2" RecipeName="JSON Recie 3">
				<ToolCollection>
					<ToolInstance Id="0" Width="50" Position="0" />
					<ToolInstance Id="1" Width="50" Position="25" />
				</ToolCollection>
			</RecipeInstance>
			<RecipeInstance Id="3" RecipeName="JSON Recie 4">
				<ToolCollection>
					<ToolInstance Id="0" Width="250" Position="0" />
					<ToolInstance Id="1" Width="100" Position="25" />
				</ToolCollection>
			</RecipeInstance>
			<RecipeInstance Id="4" RecipeName="JSON Recie 5">
				<ToolCollection>
					<ToolInstance Id="0" Width="50" Position="0" />
					<ToolInstance Id="1" Width="50" Position="50" />
					<ToolInstance Id="2" Width="100" Position="400" />
					<ToolInstance Id="3" Width="50" Position="150" />
					<ToolInstance Id="4" Width="50" Position="250" />
					<ToolInstance Id="5" Width="50" Position="450" />
				</ToolCollection>
			</RecipeInstance>
			<RecipeInstance Id="5" RecipeName="JSON Recie 6">
				<ToolCollection>
					<ToolInstance Id="0" Width="25" Position="0" />
				</ToolCollection>
			</RecipeInstance>
			<RecipeInstance Id="6" RecipeName="JSON Recie 7">
				<ToolCollection>
					<ToolInstance Id="0" Width="50" Position="1000" />
				</ToolCollection>
			</RecipeInstance>
		</RecipeCollection>
	</toolingConfig>
</configuration>